* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  nav {
    background-color: greenyellow;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  nav a {
    color: green;
    display: block;
    padding: 20px;
  }
  
  header {
    text-align: center;
  }
  
  h1 {
    color: blueviolet;
    border-bottom: 1px solid #000;
  }
  
  img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px white;
  }
  
  p {
    padding: 10px;
  }
  
  footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
  }
  
  .box {
    margin: 1rem;
    padding: 1rem;
    background-color: #2fadc4;
    border: 1px solid rgba(240, 1, 101, 0.1);
    color: #000;
  }
  
  aside {
    width: 20em;
    text-align: center;
    position: relative;
  }
  
  aside img {
    width: 200px;
    height: auto;
    float: right;
  }
  
  aside .header {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  aside .image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: white;
  }
  
  .grid {
    display: grid;
    grid-template-columns: auto 20rem; 
    gap: 1rem; 
  }
  