.rafting {
    margin: 50px 0; 
    text-align: center; 
}
.rafting h2 {
    font-size: 32px; 
    margin-bottom: 20px; 
}
.rafting p {
    font-size: 16px; 
    line-height: 1.5; 
    margin-bottom: 30px; 
}
.rafting img {
    width: 80%; 
    margin-bottom: 30px; 
}
.rafting ul {
    list-style: none; 
    padding: 0; 
}
.rafting li {
    font-size: 16px; 
    margin-bottom: 10px; 
}
.rafting .btn-rafting {
    display: inline-block; 
    padding: 10px 20px; 
    background-color: #ff0000; 
    color: #fff; 
    text-decoration: none;
    border: none; 
    cursor: pointer; 
}
.rafting .btn-rafting:hover { 
    background-color: #ff878d;
}
